.App {
  text-align: center;
}

.Menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ImportantMsg{
  color: red;
}

.InfoMsg{
  color: yellow;
}

.Menu > li{
  padding: 15px;
  margin: 10px;
  background-color: aqua;

}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
